<ion-header>
  <ion-toolbar>
    <ion-title>Pagina3</ion-title>
    <ion-buttons slot="start">
      <ion-back-button   text ="back" defaultHref="/home"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Soy la página 3</p>
    
       <ion-button routerLink="/home" routerDirection="back">Ir al home</ion-button>
       <ion-button routerLink="/pagina2" routerDirection="back">Ir a la pagina 2</ion-button>
       <ion-button routerLink="/pagina4" routerDirection="back">Ir a la pagina 4</ion-button>
       <ion-button routerLink="/pagina5" routerDirection="back">Ir a la pagina 5</ion-button>


  </div>

</ion-content>
